@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
}

header{
    background-color: gray;
    
}

header h1{
    text-align: center;
    padding: 30px;
    font-size: 4em;
}

#hamburguer{
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#hamburguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu ul{
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

menu ul li{
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
}

menu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

menu ul li a:hover{
    background-color: gray;

}

main{
    background-color: white;
    width: 400px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
}

main p{
    padding: 10px;
    font-size: 1.2em;
}

article h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    text-indent: 20px;
}



