*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#container{
    position: relative;
    background-color: black;
    height: 100vh;
}

#conteudo{
    position: absolute;
    color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}