@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #D6B0C7, #EDD5E6, #FFEFF1);
}
main{
    background-color: white;
    box-shadow: 5px 5px 15px #53253f;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1{
    color: #994975;
    text-align: center;
    text-shadow: 1px 1px 2px #381b2b;
}

h2{
    color: #B581A0;
}