@charset "UTF-8";

/* Estilos para tela */

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
}

header{
    background-color: grey;
}

header h1{
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

main h2{
    padding-top: 20px;
    text-align: center;
}

main p{
    padding: 10px;
}

menu ul{
    list-style-type: none;
    text-align: center;
    background-color: darkgray;
    padding: 10px;
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.363);
}

article{
    width: 600px;
    margin: auto;
}
