*{
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
    background-color: darkblue;
    height: 100vh;
}

#conteudo{
    position: absolute;
    background-color: darkred;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
    border-radius: 20px;
}

#texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#texto h1{
    color: white;
    font-size: 2.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

