/* Todas as Demais mídias */

/*
    Pequenas Telas: até 600px
    Celular: de 600px 768px
    Teblet: 768px até 992px
    Desktop: 992px até 1200px
    TV: acima de 1200px
*/

/* n precisa de css para movel, ja que fizemos o style voltado para o mobile*/

@media print { /* IMPRESSÃO */
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}

    main{
        border: 2px solid black;
        width: 90vw;
    }
}

@media screen and (min-width:768px) and (max-width: 992px){ /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width:1200px){ /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width:1200px){ /* GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}