*{
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#conteudo{
    position: absolute;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul{
    color: white;
    text-align: right;
}

.logo{
    border-radius: 100px;
    width: 50px;
    padding: 10px;
}

.logo:hover{
    padding: 12px;
    box-shadow: 2px 2px 2px black;
}