*{
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#conteudo{
    position: absolute;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

ul{
    color: white;
    text-align: right;
}

.logo{
    border-radius: 50%;
    width: 70px;
    padding: 10px;
    box-sizing: border-box;
}

.logo:hover{
    padding: 12px;
    transform: translate(-3px, -3px);
    transition: trasnform .4s;
}