*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

img{
    width: 100vw;
}

a{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: darkred;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}